
<section>
  <div  class="container" id="home">
    <div >
      <div class="row" >
        <div class="col-6">
          <img class="mb-2 " id="annie" src="/images/profile2.jpeg" alt="Annie Kaur">
        </div>
        <div class="col-6">
          <h1 class="ms-2" >Annie Kaur</h1>
            <h4 class="mb-0"> Network Associate-Web Designer </h4> <br>
               <p>Web  Designer who love to design simple and classy applications.
                       Network Associate who likes to work different routing and switching projects.
                  </p>
        </div>                       
      </div>
    </div>
  </div>
</section>
<section class="page-section" >
  <div  class="container"id="skills" >
    <h2 class="page-section-heading text-center text-uppercase mb-0">Skills
    </h2><hr>
      <div class="row">
       <div class="col-6">
        <div class="photo">
          <img src="/images/web-design2.jpg" class="photo-img-top" alt="web-design">
            <div class="photo-body">
              <h5 class="mb-0 text-center"> Web Designer </h5>
              <p class="photo-text"> Love to Design simple,classy and understand applications for users!!</p>
              
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="photo">
          <img src="/images/network-developer2.jpg" class="photo-img-top" alt="Network Developer">
            <div class="photo-body">
              <h5 class="mb-0 text-center"> Network Associate </h5>
              <p class="photo-text"> Network Associate who likes to work on various networking routing and switching  modules.</p>
            </div>
        </div>
      </div>
  </div><br><br>
</section>

{{!-- https://getbootstrap.com/docs/5.0/components/card/  ---for skills I have used cards --}}
