
<section>
  <div  class="container" id="house">
    <div >
      <div class="row" >
        <div class="col-6">
          <img class="mb-3" id="annie" src="/images/profile2.jpeg" alt="Annie Kaur">
        </div>
        <div class="col-6">
          <h1 class="ms-2" >Annie Kaur</h1>
            <h4 class="mb-0"> Network Associate-Web Designer </h4> <br>
               <p>Web  Designer who love to design simple and classy applications.
                       Network Associate who likes to work different routing and switching projects.
                  </p>
        </div>                       
      </div>
    </div>
  </div>
</section>
<section class="page-section" >
  <div  class="container"id="skills" >
    <h2 class="page-section-heading text-center text-uppercase mb-0">Skills
    </h2><hr>
      <div class="row">
       <div class="col-6">
        <div class="photo">
          <img src="/images/web-design2.jpg" class="photo-img-top" alt="web-design">
            <div class="photo-body">
              <h5 class="mb-0 text-center"> Web Designer </h5>
              <p class="photo-text"> Love to Design simple,classy and understand applications for users!!</p>
              
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="photo">
          <img src="/images/network-developer2.jpg" class="photo-img-top" alt="Network Developer">
            <div class="photo-body">
              <h5 class="mb-0 text-center"> Network Associate </h5>
              <p class="photo-text"> Network Associate who likes to work on various networking routing and switching  modules.</p>
            </div>
        </div>
      </div>
  </div><br><br>
</section> 
<section class="page-section" >
  <div  class="container"id="project" >             
    <h2 class="page-section-heading text-center text-uppercase mb-0">projects</h2><hr>
      <div class="row">
        <div class="col-md-4">
          <div class="photo2">
            <img src="/images/network2.jpg" class="card-img-top" alt="network">
          <div class="card-body">
            <p class="card-text"> Domain of networking in which mobile Adhoc networking and vehicular Adhoc network are the projects on local area network..</p>
          </div>
        </div>
       </div>
        <div class="col-md-4">
          <div class="photo2">
            <img src="/images/webproject2.png" class="card-img-top" alt="web-model">
          <div class="card-body">
            <p class="card-text">On the scale of the project,it includes all the familiar graphic designer and some work for a user-friendly and creative design..</p>
          </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="photo2">
            <img src="/images/data-network6.png" class="card-img-top" alt="network-work">
          <div class="card-body">
            <p class="card-text"> This Low-Level Design has been made in accordance with Cisco’s existing best-practice recommendations. The foundation of the design stems from Cisco’s standard ‘Multilayer Network Design’ model.</p>
          </div>
          </div>
        </div>
      </div>
  </div><br><br><br><br>
</section> 
<!-- Contact area-->
<section class="page-section" >
  <div class="container "  id="contact">
    <h2 class="page-section-heading text-center mb-0">Connect With Annie</h2><hr>
     <div class="row">
      <div class="col-md-6 ">
        <!-- heading of Contact area-->
        <h3 class="page-section-heading text-center mb-0">Contact Me</h3><br>
        <!-- form of Contact area-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <!-- input the name-->
          <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Enter your name..." required />
              <label for="name">Full name</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- input area of Email address-->
          <div class="form-floating mb-3">
              <input class="form-control" id="email" type="email" placeholder="name@example.com" required />
              <label for="email">Email address</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
          </div>
          <!-- area of Message input-->
          <div class="form-floating mb-3">
              <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." required></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <!-- show Submit success message-->
          <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  <br>
              </div>
          </div>
          <!-- this will show Submit error message-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          <!--  this is Submit Button-->
          <button class="btn btn-secondary my-2 my-sm-0" id="submitButton" type="submit">Send Your Query</button>
        </form>
      </div>          
      <div class="col-md-6" >
        <div class="area-part">
          <h2 class="page-section-heading text-center mb-0">Accessible At</h2><br>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/map2.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Address</h5>
                <p>29 Eden Field, Brampton, Ontario    L6R0N1, Canada</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/phone2.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Phone</h5>
                <p>+1 226-606-0944</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/mail2.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Mail me</h5>
                <p>kaurannie2222@gmail.com</p>
              </div>
            </div>
        </div>
      </div>
      </div>
  </div><br><br><br>
</section>
