<!DOCTYPE html>
<html>

<head>
  <title>AnniePortfolio</title>
  <link rel='stylesheet' href='/stylesheets/sheet.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Annie Kaur</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link {{#if home}}active{{/if}}" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if project}}active{{/if}} " href="/project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if about}}active{{/if}}" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if contact}}active{{/if}} " href="/contact">Contact Me</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<body>
  {{{body}}}
</body>
<section>
  <footer class="bg-primary text-center text-black">
    <!--this is  grid container -->
    <div class="container p-4 pb-0">
      <p>Also At SocialMedia Platforms</p>
      <!-- Section for Social media -->
      <section class="mb-4">
        <!-- Github button  -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/kaur22/portfolio.git" role="button">
          <i class="fa fa-github"></i>
        </a>
        <!-- Twitter button -->
        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fa fa-twitter"></i>
        </a>
        <!-- Linkedin button -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/learning/me/skills?accountId=2212217&u=2212217&success=true&authUUID=RuhTQQi1TqCmm8J%2BUJ3w6Q%3D%3D"
          role="button">
          <i class="fa fa-linkedin"></i>
        </a>
      </section>
      
      </div>
   <!-- this is Copyright -->
    <div class="text-center p-3  text-black" id="copyright">
      © 2021 Copyright: <a href="#house">Annie Kaur</a>
    </div>
  </footer>
</section>

</html>
