
<section class="page-section" >
  <div  class="container"id="project" >             
    <h2 class="page-section-heading text-center text-uppercase mb-0">projects</h2><hr>
      <div class="row">
        <div class="col-md-4">
          <div class="photo2">
            <img src="/images/network2.jpg" class="card-img-top" alt="network">
          <div class="card-body">
            <p class="card-text">Domain of networking in which mobile Adhoc networking and vehicular Adhoc network are the projects on local area network...</p>
          </div>
        </div>
       </div>
        <div class="col-md-4">
          <div class="photo2">
            <img src="/images/webproject2.png" class="card-img-top" alt="web-model">
          <div class="card-body">
            <p class="card-text">On the scale of the project,it includes all the familiar graphic designer and some work for a user-friendly and creative design...</p>
          </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="photo2">
            <img src="/images/data-network6.png" class="card-img-top" alt="network-work">
          <div class="card-body">
            <p class="card-text"> This Low-Level Design has been made in accordance with Cisco’s existing best-practice recommendations. The foundation of the design stems from Cisco’s standard ‘Multilayer Network Design’ model.</p>
          </div>
          </div>
        </div>
      </div>
  </div><br><br><br><br>
</section> 


{{!-- https://getbootstrap.com/docs/5.0/components/card/ ---For prjects I have used Cards --}}
